* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
}
.accordion-button::after {
  content: '\25BC';
  transform: rotate(0deg);
  transition: transform 0.2s;
}
.accordion-button.collapsed::after {
  transform: rotate(-90deg);
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

header {
  /* background: #960000; */
  background: rgb(41 41 41) !important;
  color: white;
  padding: 20px 0;
}

header h1 {
  float: left;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  /* background: #f3eded; */
  text-align: center;
  padding: 60px 0;
}

.hero h1 {
  color: #333;
  /* font-size: 4em; */
  font-family: 'Noto Sans Armenian';
  font-weight: 1000;
}
.hero h2 {
  color: #960000;
  /* font-size: 2.5em; */
  /* font-weight: 800; */
  font-family: 'Noto Sans Armenian';
  color: #555;
  margin-bottom: 10px;
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.feature {
  flex: 1;
  min-width: 280px;
  background: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.feature img {
  width: 100%;
  border-radius: 5px;
}

.cta {
  background: #004080;
  color: white;
  text-align: center;
  padding: 40px 0;
}

.cta .btn {
  display: inline-block;
  background: #ffa500;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 4px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

@media (max-width: 768px) {
  header h1 {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  .features {
    flex-direction: column;
    gap: 20px;
  }
}
.armenian-title {
  font-family: 'Noto Serif Armenian', serif;
  color: #e5c160;
}
